@page "/creators"

<PageTitle>Authors</PageTitle>

<h1>Авторы</h1>
Андрей Симагин - развёртка сайта<br>
Илья Полянский - сервер Minecraft<br>
Гузель Хамидуллина<br>
<br>
И их ментор - Бахтияр Галимов



