@page "/serverinfo"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Server Info</h1>

<p>Информация о сервере, его IP и порт.</p>

<table>
    <tr>
        <td>Sanak-Lab Minecraft Server</td>
        <td>IP:PORT</td>
    </tr>
</table>

