@page "/"

<PageTitle>Sanak Lab Minecraft Server</PageTitle>

<h1>Привет Санак-Лаб!</h1>

Добро пожаловать на страницу Minecraft сервера Sanak-Lab!<br>
Мы надеемся, что вы сможете получить удовольствие, поиграв на нашем сервере.
<br>
<br>
<br>
<a href="https://discord.gg/CuDX3jVqPZ"><button>Sanak-Lab Discord</button></a>


<SurveyPrompt Title="Хотите узнать про Sanak-Lab побольше?" />
